ENV_BOT_TOKEN=
ENV_YANDEX_ACQUIRING_SECRET_KEY=
ENV_YANDEX_ACQUIRING_IDENTIFIER=
ENV_BOT_LINK=
POSTGRES_USER=deniza
POSTGRES_PASSWORD=KbzoAjv1bMZlas0128
POSTGRES_DB=telegram_market
POSTGRES_HOST=localhost
ENV_API_BASE_URL=http://127.0.0.1:8000/
